[user]
  name = yamaimo-illus
  email = yamaimo.illus@gmail.com
[init]
  defaultBranch = main
[color]
  ui = auto
[core]
  editor = code --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
  prune = true
[pull]
  ff = only
[merge]
  ff = false
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[push]
  default = current
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
